.navfontcolor{
  color:black ;
  font-size: 1.3rem;
}
.herotext{
  font-weight: bold;
  font-size: 3rem;
}
.hero-paratext{
  font-size: 1.25rem;
  color: #1E1E1E;
}
.hero-btn{
  color: #e6007a;
  background-color: transparent;
  border-color: #e6007a;
  border: solid 1px #e6007a;
  transform: scale(0.999);
  border-radius: 2rem;
  padding: 16px 20px;
}
.cardtext{
  font-weight: bold;
  font-size: 2rem;
}
.footerbackcolor{
  background-color: #172026;
}
.footertextcolor{
  color: white;
}

.footer2{
  display: flex;
  flex-direction: row;
}

.powering-backcolor{
  background-color: #172026;
}
.source-backcolor{
  background-color: #C90D86 ;
}

.source-textcolor{
  color: white;
  font-size: 1.50rem;
  font-weight: 400;
}
.footertextcolor-size{
  color: white;
  font-size: 3.5rem;
}

.founded{
  background-image: url('https://polkadot.network/assets/img/web3-summit-3.jpg?v=ea608e625d');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.99;
}

.foundedtext{
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.hero-btn1{
  color: white;
  background-color: transparent;
  border-color: #e6007a;
  border: solid 1px #e6007a;
  transform: scale(0.999);
  border-radius: 2rem;
  padding: 16px 20px;
}
.card-img-top{
  aspect-ratio: 2/1 !important;
}

.fontcolor{
  color: #E6007A;
}
.clr{
  color: black;
}
.card-body{
  height: 60vh !important;
}
.tech-hero{
  font-weight: bold;
  font-size: 3rem;
}
.githubpage-img{
  transform: scale(1.7);
}
.network-bgcolor{
  background-color: #CF0A7F;
  height: 70vh;
 
}
.network-paratext{
  font-size: 1.6rem;
}
.built-backcolor{
  background-color: #EFEFEF;
}
.built-text{
  font-weight: bold;
}
.parachains-text{
  font-weight: bold;
  font-size: 2.5rem;
}
.parachains-color{
  background-color: #172026;
}
.parachains-paratextsize{
  font-size: 1.3rem;
}
.parachain-text{
  font-size: 1.5rem;
}
.link{
  color: black;
}

.roadmap-bgcolor{
  background-color: #CF0A7F;
  
}
.roadmap-btn{
  color: white;
  background-color: transparent;
  border-color: #f6f4f5;
  border: solid 1px #e7dee3;
  transform: scale(0.999);
  border-radius: 2rem;
  padding: 16px 20px;
}
.card-body{
  height: auto !important;
  border: 10px !important;
  padding: 1% !important;
  
}
.card{
  border-radius: 15px !important;
  border-color: #E9ECEF !important;

}
.join-txt{
  font-weight: 700;
  font-size: 3.5rem;
}
.join-para{
  font-size: 1.3rem;
}

.twitter-txt{
  font-weight: 700;
  font-size: 3rem;
  color: white;
}
.twitter-paratext{
  color: white;
  font-size: 1.3rem;
}
.twitter-btn{
  color: white;
  background-color: transparent;
  border-color: #e6007a;
  border: solid 1px #e6007a;
  
  border-radius: 2rem;
 
}
.vali-txt{
  font-weight: 700;
  
}
.join-para1{
  font-size: 1.5rem;
}
.clr{
  color: #e6007a ;
}
.join-para2{
  font-size: 1.2rem;
}
.upcoming-para{
  color: white;
  font-size: 1.5rem;
}
.foundedtext1{
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}

.upcoming-pic{
  background-image: url('https://polkadot.network/assets/img/web3-summit-2.jpg?v=ea608e625d');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.88;
}
.founded-pic{
  background-image: url('https://polkadot.network/assets/img/polkadot-founders.jpg?v=ea608e625d');
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

}
.foundedtext2{
  color: white;
  font-size: 3.2rem;
  font-weight: 900;
}
.founded-color{
  background-color: #F1F1F2;
}
.cardbody1{
  height: 80vh !important;
}
.cardbody2{
  /* height: 90vh !important; */
  padding: 10px !important;
}
.vl {
  border-left: 2px solid rgb(239, 243, 239);
  height: 250px;
}
.card-body3{
  height: 43vh !important;
 

}
.card-body4{
  height: 60vh !important;
  padding: 8px;
 

}

.buildpage-text{
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
.buildtext{
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.buildtext1{
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
.vr{
  border-left: 2px solid rgb(255, 255, 255);
  height: 4vh;
}
.heropic{
  position: absolute;
  
}
@media screen and (max-width: 600px) {
  .heropic {
    width:  70vw ;
  }
}
@media screen and (max-width: 600px) {
  .heropic1 {
    width:  70vw ;
  }
}
.heropic1{
  position: relative;
}

.hero-btn2{
  color: white;
  background-color: transparent;
  border-color: #161515;
  border: solid 1px #000000;
  transform: scale(1);
  border-radius: 2rem;
  padding: 16px 20px;
}